<html>
    <head>
    <script>$("#caseSummary").DataTable({searching:false,lengthChange: false,});</script>
    <link rel="stylesheet" href="/assets/teampro/css/dataTables.min.css" type="text/css">

</head>
<style>
    /* Dark blue table header */
    #caseSummary thead tr {
        background-color: #0f1568 !important;
        color: white !important;
    }
     #caseSummary {
        font-size: 10px !important;
    }
    /* Alternating tbody row colors */
    #caseSummary tbody tr:nth-child(odd) {
        background-color: #ffffff !important;  /* white */
    }

    #caseSummary tbody tr:nth-child(even) {
        background-color: #e6f2fa !important;  /* light blue */
    }
</style>



<body>
    <table border="1" id="caseSummary">
        <thead>
            <tr class="th">
                <th>SI NO</th>
                <th>Case Name</th>
                <th>ID</th>
                <th>Name</th>
                <th>Batch</th>
                <th>Date of Initiation</th>
                <th>Completion Date</th>
                <th>Age</th>
                <th>Case Status</th>
                <th>Case Report</th>
                <th>Report Status</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d.s_no }}</td>
                <td>{{ d.case_name }}</td>
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.batch }}</td>
                <td>{{ d.initiation }}</td>
                <td>{{ d.completion }}</td>
                <td>{{ d.age }}</td>
                <td>{{ d.case_status }}</td>
                <td>
                    <button onclick="viewCaseStatus('{{ d.case_name }}')" class="btn btn-default btn-sm" title="View">
                        <i class="fa fa-file"></i>
                    </button>
                </td>

                {% if d.report_status == 'Positive'%}
                <td><span style="color:blue">{{ d.report_status }}</span></td>
                {% endif %}
                {% if d.report_status == 'Negative' %}
                <td><span style="color:red">{{ d.report_status}}</span></td>
                {% endif %}
                {% if d.report_status == 'Dilemma' %}
                <td><span style="color: orange;">{{ d.report_status }}</span> </td>
                {% endif %}
                {% if d.report_status != 'Dilemma' && d.report_status != 'Negative' && d.report_status != 'Positive' %}
                <td>{{ d.report_status }}</td>
                {% endif %}

                <td>
                    <button onclick="downloadReport('{{ d.case_name }}')" class="btn btn-default btn-sm" title="Download">
                        <i class="fa fa-download"></i>
                    </button>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>